<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Vue CDN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div id="app" class="container-fluid mt-3">
        <div class="jumbotron">
            <h1 v-on:click="saludar">Bienvenidos a VueJS con CDN</h1>
            <hr>

            <h4><u>Interpolación</u></h4>
            <b>Interpolamos eval('3 + 4'): {{ 3 + 4 }}</b>
            <br><br>

            <div>{{ mensaje }}</div>
            <div v-text="mensaje"></div>
            <div v-html="mensaje"></div>
            <br>
            <div>{{ mensajeHTML }}</div>
            <div v-text="mensajeHTML"></div>
            <div v-html="mensajeHTML"></div>

<!-- ------------ -->
            <h4><u>Property Binding / v-bind</u></h4>
            <input type="text" value="valor">
            <input type="text" v-bind:value="valor"> {{ valor }}
            <br>
            <input type="text" :value="valor"> {{ valor }}
            <br>
            

            <h4><u>Event binding</u></h4>
            <button class="btn btn-success my-3 mr-2" v-on:click="contador++">Contar {{ contador }}</button><br>
            <button class="btn btn-warning my-3 mr-2" @click="contador2++">Contar {{ contador2 }}</button><br>
            <button class="btn btn-danger my-3" v-on:click="incrementar()">Contar {{ mostrarContador3() }}</button><br>

            <h4><u>v-if / v-else-if / v-else</u></h4>
            <button class="btn btn-warning my-3" @click="mostrar=!mostrar">
                {{ mostrar ? 'Ocultar' : 'Mostrar' }}
            </button>
            <p v-if="mostrar" class="alert alert-warning">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Perspiciatis, minima iste voluptatum neque fugiat odit. Rem veniam sed nam ipsam. 
                Quos qui a debitis quibusdam ad voluptate quisquam recusandae inventore?
            </p>

            <p v-else class="alert alert-danger">Elemento removido</p>

            <!------------------------------------------------------->

            <h4><u>v-show</u></h4>
            <button class="btn btn-warning my-3" @click="mostrar2=!mostrar2">
                {{ mostrar2 ? 'Ocultar' : 'Mostrar' }}
            </button>
            <p v-show="mostrar2" class="alert alert-warning">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Vel quasi voluptatem a veniam, accusamus quo praesentium nostrum, 
                earum culpa quod sint in aliquam fuga at maiores! Sint perspiciatis accusamus repellendus?
            </p>

            <p v-show="!mostrar2" class="alert alert-danger">Elemento removido</p>


            <!------------------------------------------------------->

            <h4><u>v-for</u></h4>

            <ul>
                <!--li v-for="(usuario, index) in usuarios">{{ index + 1}} - {{ usuario }}</li-->
                <!--li v-for="(usuario, index) in usuarios">{{ (index + 1) + ' - ' + usuario }}</li-->
                <li v-for="(usuario, index) in usuarios">{{ `${index + 1} - ${ usuario}` }}</li>
            </ul>

            <br>

            <ul>
                <li v-for="(alumno, index) in alumnos">{{ index + 1}} - <pre>{{alumno}}</pre></li>
            </ul>

            <h4><u>Tabla de alumnos</u></h4>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr>
                        <th>Index</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Curso</th>
                        <th>Foto</th>
                    </tr>
                    <tr v-for="(alumno, index) in alumnos">
                        <td>{{ index + 1 }}</td>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.apellido }}</td>
                        <td>{{ alumno.edad }}</td>
                        <td>{{ alumno.curso? 'Si' : 'No' }}</td>
                        <td>
                            <img :src="alumno.foto" width="50" :alt="alumno.nombre">
                        </td>
                    </tr>
                </table>
                <h4 class="alert-info">
                    <span>{{ calcularAlunosCurso.cant }} alumnos de {{ calcularAlunosCurso.total }} hicieron el curso. </span>
                </h4>
            </div>

            <div class="media alter alert-warning" v-for="(alumno, index) in alumnos">
                <img class="mr-3" :src="alumno.foto" width="150" :alt="alumno.nombre">
                <div class="media-body ml-3">
                  <h5 class="mt-0"> <u>Alumno {{ index + 1}}</u> </h5>
                  <br>
                  <p>Nombre: {{ alumno.nombre }} {{ alumno.apellido }} </p>
                  <p>Edad: <i> {{ alumno.edad }}</i></p>
                  Hizo el curso <input type="checkbox" v-model="alumno.curso">

                </div>
              </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!--     <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

<script src="js/main.js">
        /* ---------------------------------------- */
        /*             Proyecto Vue CDN             */
        /* ---------------------------------------- */

</script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>